@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300');

body {
background-color: #c01e1b;
margin: 0px;
}

h1 {
  font-family: Oswald;
  text-align: center;
  color: #272c48;
}

h3 {
  font-family: Oswald;
  text-align: center;
  margin-bottom: 0px;
  color: #272c48;
}

p {
  font-family: Roboto;
  line-height: 1.6;
}

.who p {
  text-align: center;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  background: #ffffff;
}

 main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  /* grid-template-columns: repeat(3, 306.66px); */
  /* code above sets up the entire grid: 3 columns x 306.66 + grid-gap= 960px */
}

.hero {
  padding-top: 0px;
}

.title2 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  background: #ffffff;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -120px;
}

#map {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  margin-top: -40px;
  width: 100%;
}

#map img{
  width: 100%;
}

img[src$=".jpg"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* .yearschart1 img{
  width: 100%;
} */

.intro {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  background: #ffffff;
  /* padding: 10px; */
  padding-left: 40px;
  padding-right: 40px;
}

.who {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#dahmer {
  grid-column: 2 / span 1;
  grid-row: 5 / span auto;
}

#bundy {

  grid-column: 3 / span 1;
  grid-row: 5 / span auto;
}

#ripper {

  grid-column: 2 / span 1;
  grid-row: 6/ span auto;
}

#zodiac {
  grid-column: 3 / span 1;
  grid-row: 6 / span auto;
}

#gacy {
  grid-column: 2 / span 1;
  grid-row: 7 / span auto;
}

#gein {
  grid-column: 3 / span 1;
  grid-row: 7 / span auto;
}

 #rader {
  grid-column: 2 / span 1;
  grid-row: 8 / span auto;
}

#wuornos {
  grid-column: 3 / span 1;
  grid-row: 8 / span auto;
}

#berkowitz {
  grid-column: 2 / span 1;
  grid-row: 9 / span auto;
  /* padding-bottom: 20px; */
}

#ridgway {
  grid-column: 3 / span 1;
  grid-row: 9 / span auto;
  /* padding-bottom: 20px; */
}

#whotext {
  grid-column: 1 / span 4;
  grid-row: 10 / span auto;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.statetitle {
  grid-column: 1 / span 4;
  grid-row: 11 / span 1;
  margin-top: 0px;
}

#state {
  grid-column: 1 / span 4;
  grid-row: 12 / span 1;
}

#state img {
  width: 100%;
}

.statetext {
  grid-column: 1 / span 4;
  grid-row: 13 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.searchtitle{
  grid-column: 1 / span 4;
  grid-row: 14 / span 1;
  padding-left: 40px;
  padding-right: 40px;
}

.flourish-embed {
  grid-column: 1 / span 4;
  grid-row: 15 / span 1;
}

.searchinterest {
  grid-column: 1 / span 4;
  grid-row: 16 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
}

#dahmer_graph {
  grid-column: 1 / span 4;
  grid-row: 17 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#zodiac_graph {
  grid-column: 1 / span 4;
  grid-row: 18 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#rader_graph {
  grid-column: 1 / span 4;
  grid-row: 19 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#data {
  grid-column: 1 / span 4;
  grid-row: 20 / span 1;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
/* this will reduce the gallery to 2 columns (50%) and keep the entire container at it's full view  */
 /* @media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin: 6px 0;
  }
  .gallery {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .gallery {
    width: 100%;
  }
}  */

@supports(display: grid) {
        .message {
          display: none;
